#mainPageContainer{
    flex-direction: column;
}
#number{
    margin-top: 10px;
    margin-bottom: 10px;
}
#fullReset{
    margin-top: 20px;
}
#gwasmithContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
#ending{
    border: 2px solid darkred;
    background-color: black;
    color: gray;
    margin-top: 10px;
    min-height: 90px; min-width: 300px;
}